.settings{
    display: flex;
}

.settingsWrapper{
    flex: 9;
}

.settingsProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateProfile{
    font-size: 30;;
    margin-bottom: 20px;
    color: rgb(209, 76, 120);
}

.settingsDeleteProfile{
    color: red;
    font-size: 12px;

}