

.posts-container{
    margin: 30px;
}

.posts{
    margin-block: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
  
   
}


.post{
    margin-block: 10px;
}
.post-image img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.post-title a{
    color: black;
}

.post-details{
    margin-block: 5px;
}
.date{
    display: inline-block;
    color: #444;
}

.category{
    color: white;
}
.travel{
    background-color: tomato;
    padding: 3px 10px;
    margin-inline: 10px;
    border-radius: 5px;

}
.post-desc{
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}
.author{
    font-size: 14px;
    margin-top: 5px;
}