.write{
    padding-block: 50px;
}

.writeForm{
    position: relative;
}

.writeFormGroup{

    margin-left: 150px;
    display: flex;
    align-items: center;

}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #444;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
}

.writeSubmit{
    position: absolute;
    right: 50px;
    color: white;
    background-color: rgb(117, 16, 55);
    padding: 10px;
}

